#content .detail-view th {
    background-color: #7C7C7C;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 20%;
    color: #FFF;
    font-size: 14px;
}

#content .detail-view td {
	padding: 10px;
    font-size: 14px;
    font-weight: bold;
    width: 60%;
}

#content #yw0 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.even, .odd {
	padding: 5px;
	background-color: #E3E3E3;
}

#content .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: #E3E3E3;
}

#player-grid {
	width: 94%;
	background-color: #C82135;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    -webkit-border-radius: 2px solid #C82135;
    -moz-border-radius: 2px solid #C82135;
    border-radius: 2px solid #C82135;
}

#player-grid table {
	background-color: #C82135;
}

#player-grid #player-grid_c0, #player-grid #player-grid_c1, #player-grid #player-grid_c2,
#player-grid #player-grid_c3, #player-grid #player-grid_c4, #player-grid #player-grid_c5,
#player-grid #player-grid_c6, #player-grid #player-grid_c7, #player-grid #player-grid_c8,
#player-grid #player-grid_c9, #player-grid #player-grid_c10 {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background-color: #C82135;
}

#player-grid td.empty {
	background-color: #C82135;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
}

#player-grid .summary {
    background-color: #28AAFD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border: #FFF solid 4px;
    -moz-border: #FFF solid 4px;
    border: #FFF solid 4px;
    -webkit-box-shadow: -0.4em -0.2em 1.1em #196A9E inset;
    -moz-box-shadow: -0.4em -0.2em 1.1em #196A9E inset;
    box-shadow: -0.4em -0.2em 1.1em #196A9E inset;
    float: right;
    margin-bottom: 5px;
    margin-right: 2%;
    padding: 5px;
    text-align: center;
    width: 25%;
    font-weight: bold;
    color: #FFF;
}

#result .view {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

#result .view .basic_info,
#result .view .safari,
#result .view .duel,
#result .view .contact {
    height: auto;
    padding: 10px;
    clear: both;
    width: 100%;
}

#result .view .safari,
#result .view .duel {
    clear: none;
    float: left;
    width: 47%;
}

#result .view .basic_info .avatar {
    float: left;
    width: 20%;
    height: auto;
}

#result .view .basic_info .data {
    float: right;
    width: 78%;
    height: auto;
    text-align: left;
}

#result .view .basic_info .data .nickname {
    font-size: 24px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -0.4em -0.2em 1.1em #7F1019 inset;
    -moz-box-shadow: -0.4em -0.2em 1.1em #7F1019 inset;
    box-shadow: -0.4em -0.2em 1.1em #7F1019 inset;
    background-color: #C91221;
    color: #FFF;
    padding: 5px;
    text-align: center;
}

#result .view .basic_info .data .friend_code,
#result .view .basic_info .data .tsv {
    font-size: 18px;
    -webkit-border-bottom: 1px solid #7F1019;
    -moz-border-bottom: 1px solid #7F1019;
    border-bottom: 1px solid #7F1019;
}

#result .view .basic_info .data .comments {
    -webkit-border-bottom: 0px;
    -moz-border-bottom: 0px;
    border-bottom: 0px;
    font-size: 14px;
    font-style: italic;
    text-align: justify;
    line-height: 120%;
}

#result .view .basic_info .data .contact {
    width: 98%;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

#result .view .basic_info .contact .skype, #result .view .basic_info .contact .whatsapp,
#result .view .basic_info .contact .facebook, #result .view .basic_info .contact .others {
    width: 21%;
    margin-right: 2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #7f1019;
    color: #FFF;
    float: left;
    padding: 5px;
    text-align: center;
}

#result .view .basic_info .contact .facebook {
    width: 49%;
    margin-right: 0;
}

 #result .view .basic_info .contact .others {
    margin-top: 1%;
    margin-right: 0;
    width: 97%;
 }

#result .view .safari .type {
    width: 100%;
    float: left;
    font-size: 18px;
    clear: both;
    margin-bottom: 3%;
}

#result .view .safari .pokes {
    width: 100%;
    height: 180px;
    float: right;
}

#result .view .safari .pokes .safari_pokemon, #result .view .safari .pokes .no_safari {
    width: 28%;
    height: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 5px;
    float: left;
    margin-right: 2%;
    text-align: center;
    width: 28%;
    color: #000;
    font-weight: bold;
    -webkit-box-shadow: -0.4em -0.2em 1.1em #B7B2B2 inset;
    -moz-box-shadow: -0.4em -0.2em 1.1em #B7B2B2 inset;
    box-shadow: -0.4em -0.2em 1.1em #B7B2B2 inset;
}

#result .view .safari .pokes .no_safari {
    background-color: none;
    background-image: url (../images/varios/duelbg.png);
}

#result .view .safari .pokes .safari_pokemon:last-child {
    margin-bottom: 0;
}

#result .view .safari .pokes .safari_pokemon img {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}

#result .view .duel .single_0,
#result .view .duel .doble_0,
#result .view .duel .triple_0,
#result .view .duel .rotation_0 {
    color: #FFF;
    font-size: 14px;
    background-image: url (../images/varios/duelbg.png);
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    height: 100px;
    width: 49%;
}

#result .view .duel .single_1,
#result .view .duel .doble_1,
#result .view .duel .triple_1,
#result .view .duel .rotation_1 {
    color: #000;
    text-align: center;
    background-image: url (../images/varios/duelbg1.png);
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    font-size: 24px;
    height: 100px;
    width: 49%;
    padding-top: 35px;
    padding-bottom: 35px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#result .view .duel .single_0 h5,
#result .view .duel .doble_0 h5,
#result .view .duel .triple_0 h5,
#result .view .duel .rotation_0 h5,
#result .view .duel .single_1 h5,
#result .view .duel .doble_1 h5,
#result .view .duel .triple_1 h5,
#result .view .duel .rotation_1 h5 {
    font-weight: bold;
    margin-bottom: 1%;
    padding: 0px;
    background-color: #CCC;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}