h1.autor {
	background-image: url(../images/titles/autor_title.png);
	text-indent: -9000px;
	width: 800px;
	height: 70px;
}

h1.stats {
	background-image: url(../images/titles/stats_title.png);
	text-indent: -9000px;
	width: 800px;
	height: 70px;
}

h1.captura {
	background-image: url(../images/titles/captura_title.png);
	text-indent: -9000px;
	width: 800px;
	height: 70px;
}

h1.pokeapp {
	background-image: url(../images/titles/pokeapp_title.png);
	text-indent: -9000px;
	width: 800px;
	height: 70px;
}

h1.art_daisuki {
	background-image: url(../images/titles/articulos_title.png);
	text-indent: -9000px;
	width: 800px;
	height: 70px;
}

h1.jugadores {
	background-image: url(../images/titles/jugadores_title.png);
	text-indent: -9000px;
	width: 800px;
	height: 70px;
}

#userdata,
#dueldata,
#contactdata {
	width: 100%;
	height: auto;
	-webkit-border-bottom: 2px solid #000;
	-moz-border-bottom: 2px solid #000;
	border-bottom: 2px solid #000;
}

#userdata .bloq,
#dueldata .bloq,
#contactdata .bloq,
#userdata .safari,
#userdata .safari .bloq {
	width: 30%;
	height: 30%;
	background-color: #FFF;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 1%;
}

#dueldata .bloq,
#contactdata .bloq {
	width: 22%;
}

#userdata .safari {
	width: 63%;
}

#userdata .safari .bloq {
	width: 30%;
}

#userdata .safari .bloq select {
	width: 100%;
}

#userdata .bloq .name {
	width: 100%;
	height: 15%;
	clear: both;
	background-color: #FFF;
	float: left;
	margin-bottom: 1%;
}

#userdata .bloq .name p {
	font-weight: bold;
}

#userdata .bloq:last-child,
#dueldata .bloq:last-child,
#contactdata .bloq:last-child {
	margin-right: 0%;
}

#userdata .bloq .name input,  #userdata .bloq input, #dueltier .bloq input {
	width: 93%;
}

#dueldata .bloq .duel input {
	width: 4%;
	float: left;
}

#dueldata .bloq .duel label {
	width: 92%;
	float: right;
	text-align: left;
}

#contactdata .bloq input {
	width: 93%;
}

#contactdata .message {
	width: 98%;
	height: auto;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
}

#contactdata .message textarea {
	width: 98%;
}

.safari #safari_1,
.safari #safari_2,
.safari #safari_3 {
	width: 20%;
	height: auto;
	float: left;
}

.safari #safari_1 select,
.safari #safari_2 select,
.safari #safari_3 select {
	width: 100%;
	margin-top: -5px;
}

img.yo {
	float: left;
	height: 30%;
	width: 30%;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

#autorinfo {
	background-color: #F4F081;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	padding: 15px;
	width: 67%;
	height: auto;
	float: right;
	text-align: justify;
	font-size: 15px;
    line-height: 115%;
}

#autorinfo a {
	text-decoration: none;
	color: #16548E;
}

#autorinfo a:hover {
	text-decoration: none;
	color: #02182D;
}

#appinfo {
	width: 98%;
	padding: 10px;
}

#appinfo .bloq {
	width: 29%;
	font-size: 14px;
	line-height: 110%;
	-webkit-border-right: 2px solid #000;
	-moz-border-right: 2px solid #000;
	border-right: 2px solid #000;
	padding: 2%;
	text-align: justify;
	float: left;
}

#appinfo .bloq:last-child {
	-webkit-border-right: none;
	-moz-border-right: none;
	border-right: none;
}

#appinfo .bloq img {
	margin-left: 15%;
}

#articulos {
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

#articulos .art {
	width: 15%;
	margin-left: 1%;
	margin-bottom: 1%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #B51015;
	float: left;
	padding: 10px;
	-webkit-box-shadow: -0.5em -0.5em 3em #63080A inset;
	-moz-box-shadow: -0.5em -0.5em 3em #63080A inset;
	box-shadow: -0.5em -0.5em 3em #63080A inset;
}

#articulos .art img {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 10px;
}

#articulos .art .name {
	height: 30px;
	text-align: center;
}

#articulos .art .name a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	color: #FFF;
	clear: both;
	line-height: 100%;
}

#articulos .art .name a:hover {
	color: #B5B5B5;
	font-weight: bold;
	font-style: italic;