    h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
    padding: 1%;
    width: 12%;
}

#column1-wrap {
    float: left;
    width: 100%;
}

#column1 {
    margin-right: 30%;
    background-color: #FFF;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    padding: 2%;
}

#column1 h2 {
    font-size: 20pt;
    text-align: center;
}

#column2 {
    float: left;
    width: 25%;
    margin-left: -30%;
    background-color: #969696;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    padding: 2%;
    text-align: center;
}

#column2 h4 {
    padding: 2%;
    background-color: #D6D6D6;
}

#column2 p a {
    padding: 2%;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 0px;
    padding-bottom: 1%;
}

#column2 p a:hover {
    text-decoration: none;
    width: auto;
    background-color: #FFF;
    color: #CCC;
}

#column2 h2 {
    font-size: 16pt;
    color: #FFF;
}

#clear {
    clear: both;
}

#column1_50 {
    margin-right: 50%;
}

#column2_50 {
    float: left;
    width: 50%;
    margin-left: -50%;
}

#tournament-player-form, #login-form {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #C4C4C4;
}

#tournament-player-form #Users_name, 
#tournament-player-form #Users_mail {
    width: 97%;
}

#login-form #LoginForm_username,
#login-form #LoginForm_password {
    width: 95%;
}

.tournament_menu {
    width: 20%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    padding: 10px;
    background-color: #F4AA55;
    -webkit-box-shadow: -0.5em -0.5em 3em #BF8322 inset;
    -moz-box-shadow: -0.5em -0.5em 3em #BF8322 inset;
    box-shadow: -0.5em -0.5em 3em #BF8322 inset;
}

.tournament_menu .info {
    float: right;
    width: 100%;
}

.tournament_menu .info a {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding-top: 0;
    height: auto;
    line-height: 100%;
    text-decoration: none;
}

.tournament_menu .info a:hover {
    color: #FFF;
    text-decoration: none;
}

.tournament_menu img {
    clear: both;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
    padding-bottom: 10px;
}

.tournament_menu img:hover {
    opacity: 0.5;
}

.tournament_menu .info h4 {
    height: 30px;
    text-align: center;
    margin: 0px;
    margin-bottom: 1%;
}

.tournament_menu .info h4 a {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding-top: 0;
    height: auto;
    line-height: 100%;
    text-decoration: none;
}

.tournament_menu .info p {
    float: right;
    text-align: justify;
    font-size: 14px;
    color: #28231C;
    margin-top: 0%;
    line-height: 110%;
    width: 100%;
    height: 15pt;
}
.preview_folio {
   width: 150px;
   height: 150px;
}
.preview_folio img {
   height: 100%;
}
.tournament_menu {
    width: 20%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    padding: 10px;
    background-color: #F4AA55;
    -webkit-box-shadow: -0.5em -0.5em 3em #BF8322 inset;
    -moz-box-shadow: -0.5em -0.5em 3em #BF8322 inset;
    box-shadow: -0.5em -0.5em 3em #BF8322 inset;
}

.tournament_menu .info {
    float: right;
    width: 100%;
}

.tournament_menu .info a {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding-top: 0;
    height: auto;
    line-height: 100%;
    text-decoration: none;
}

.tournament_menu .info a:hover {
    color: #FFF;
    text-decoration: none;
}

.tournament_menu img {
    clear: both;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
    padding-bottom: 10px;
}

.tournament_menu img:hover {
    opacity: 0.5;
}

.tournament_menu .info h4 {
    height: 30px;
    text-align: center;
    margin: 0px;
    margin-bottom: 1%;
}

.tournament_menu .info h4 a {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding-top: 0;
    height: auto;
    line-height: 100%;
    text-decoration: none;
}

.tournament_menu .info p {
    float: right;
    text-align: justify;
    font-size: 14px;
    color: #28231C;
    margin-top: 0%;
    line-height: 110%;
    width: 100%;
    height: 15pt;
}

td.win{
    background-color: #9DC007;
}
td.fail{
    background-color: #EF5A3F;
}
td.neutral{
    background-color: #61AEC2;   
}

#poketitle {
    background-color: #E3E3E3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 80%;
    height: auto;
}

#poketitle h4, #poketitle h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    font-size: 10pt;
    font-weight: bold;
    float: left;
}

#poketitle h4 {
    margin-top: 1%;
    width: 80%;
}

#poketitle h1 {
    font-size: 24pt;
    margin-bottom: 0%;
}

#poketitle img {
    float: left;
    width: 10%;
    height: 10%;
    margin-right: 3%;
    margin-left: 3%;
}

.accordion-group {
    border: 1px solid #e5e5e5;
    background-color: #B7B7B7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 2px;
    -webkit-box-shadow: -0.1em -1em 2em #777777 inset;
    -moz-box-shadow: -0.1em -1em 2em #777777 inset;
    box-shadow: -0.1em -1em 2em #777777 inset;
}

#column1 .accordion-group h2 {
    font-size: 24pt;
    text-decoration: none;
    color: #FFF;
    float: left;
    width: 100%;
    height: auto;
}

#column1 .accordion-group h2:hover {
    font-size: 24pt;
    text-decoration: none;
    background-color: #000;
    opacity: 0.8;
}

#column1 .accordion-group h2 p {
    margin-top: 5%;
}

#column1 .accordion-group .pkmnimg,
#poke-team .view .pkmnimg {
    height: 100px;
    width: 100px;
    margin-left: 15%;
    float: left;
    padding: 1%;
}

#column1 .accordion-group .pkmnimg img {
    width: auto;
    height: auto;
}

.accordion-heading .accordion-toggle {
    padding: 0px;
}

p.click {
    width: 20%;
    height: auto;
    line-height: 110%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #05500F;
    text-align: center;
    padding: 1%;
    -webkit-box-shadow: -0.1em -1em 2em #032608 inset;
    -moz-box-shadow: -0.1em -1em 2em #032608 inset;
    box-shadow: -0.1em -1em 2em #032608 inset;
    float: right;
}

p.click:hover {
    background-color: #082D0D;
    -webkit-box-shadow: -0.1em -1em 2em #020F04 inset;
    -moz-box-shadow: -0.1em -1em 2em #020F04 inset;
    box-shadow: -0.1em -1em 2em #020F04 inset;
}

p.click a {
    color: #FFF;
    text-decoration: none;
}

#poke-team .view {
    border: 1px solid #e5e5e5;
    background-color: #B7B7B7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -0.1em -1em 2em #777777 inset;
    -moz-box-shadow: -0.1em -1em 2em #777777 inset;
    box-shadow: -0.1em -1em 2em #777777 inset;
}

#poke-team .view h3 {
    font-size: 18pt;
    float: left;
    margin-top: 5%;
}

#poke-team .view .mod_btn {
    width: 15%;
    height: auto;
    float: right;
    padding: 1%;
}

#poke-team .view .mod_btn .mod,
#poke-team .view .mod_btn .delete {
    width: 100%;
    height: auto;
    line-height: 110%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
}

#poke-team .view .mod_btn .mod a,
#poke-team .view .mod_btn .delete a {
    color: #FFF;
    text-decoration: none;
}

#poke-team .view .mod_btn .mod {
    background-color: #F99A00;
    -webkit-box-shadow: -0.1em -1em 2em #BF7500 inset;
    -moz-box-shadow: -0.1em -1em 2em #BF7500 inset;
    box-shadow: -0.1em -1em 2em #BF7500 inset;
}

#poke-team .view .mod_btn .mod:hover {
    background-color: #BF7500;
    -webkit-box-shadow: -0.1em -1em 2em #AA4B0B inset;
    -moz-box-shadow: -0.1em -1em 2em #AA4B0B inset;
    box-shadow: -0.1em -1em 2em #AA4B0B inset;
}

#poke-team .view .mod_btn .delete {
    background-color: #D60609;
    -webkit-box-shadow: -0.1em -1em 2em #870204 inset;
    -moz-box-shadow: -0.1em -1em 2em #870204 inset;
    box-shadow: -0.1em -1em 2em #870204 inset;
}

#poke-team .view .mod_btn .delete:hover {
    background-color: #870204;
    -webkit-box-shadow: -0.1em -1em 2em #4F0405 inset;
    -moz-box-shadow: -0.1em -1em 2em #4F0405 inset;
    box-shadow: -0.1em -1em 2em #4F0405 inset;
}
table {
  line-height: 40px;
  border-spacing: 0;
  border: 1px solid #428bca;
}
thead th {background:#0E843B;}

thead tr:first-child {
  background: #428bca;
  color: #fff;
  border: none;
}

th {font-weight: bold;}

thead tr:last-child th {border-bottom: 2px solid #0E843B;}

tbody tr:hover {background-color: #f0fbff;}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #0E843B;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

div.poke_followup{
    width:19%;
    height:150px;    
    margin:1%;
    float:left;
}

div.poke_pic{
    height:70%;
}

div.item_followup{
    width:19%;
    height:80px;    
    margin:1%;
    float:left;
}

b.participants{
    font-size: 19px;
}

b.size_15{
    font-size: 15px;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
